@use '~/src/variables';

.container {
  display: flex;
  justify-content: space-between;
  max-width: variables.$size-max-width;
  align-items: center;
  margin: 0 auto;
  background-color: variables.$background-dark;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: variables.$background-dark;
}

.active {
  font-weight: bold;
}

.menu-item {
  color: variables.$text-light;
  display: block;
  font-size: 26px;
  padding: 43px 0;
  background: transparent;
  position: relative;
  display: inline-block;
  position: relative;
  margin-left: 28px;
  text-decoration: none;
}