@use '~/src/variables';

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

html {
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  background: variables.$background;
  color: variables.$text-color;
  font-family: variables.$font-sans;
  font-size: 16px;
  font-weight: variables.$body;
  line-height: variables.$default;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: variables.$semibold;
  line-height: variables.$dense;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: variables.$primary;
}

a.active {
  font-weight: variables.$bold;
}

tt,
code,
kbd {
  background: variables.$black-fade-5;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

tt,
code,
kbd {
  font-family: variables.$font-monospace;
  font-size: 90%;
}

tt,
code {
  background-color: variables.$black-fade-5;
  border-radius: variables.$radius-sm;
  font-weight: variables.$medium;
  padding: 0.2em 0;
}

code:before,
code:after,
tt:before,
tt:after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre,
code {
  font-family: variables.$font-monospace;
}
